vps-deploy/n8n-workflow/parser-done-workflow.json
{
  "id": "AntiMsMpParser1",
  "name": "anti-ms-mp parser-done → Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anti-ms-mp/parser-done",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-parser-done",
      "name": "Webhook: parser-done",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "antimsmp-parser-done"
    },
    {
      "parameters": {
        "jsCode": "// Форматирует payload от parser_runner.py в HTML-сообщение для Telegram\nconst b = $input.first().json.body || $input.first().json;\nconst run_id = b.run_id || '?';\nconst status = (b.status || 'unknown').toLowerCase();\nconst totals = b.totals || {};\nconst errors_count = b.errors_count || 0;\nconst chat_id = b.chat_id;  // приходит из parser_runner.py (TG_CHAT_ID из .env)\n\nconst STATUS_EMOJI = {\n  ok: '✅', partial: '⚠️', failed: '❌', running: '⏳'\n};\nconst icon = STATUS_EMOJI[status] || '📦';\n\n// Сводка по платформам\nlet platforms_text = '';\nlet total_upserted = 0;\nfor (const [pl, t] of Object.entries(totals)) {\n  const found = t.found || 0;\n  const unique = t.unique || 0;\n  const upserted = t.upserted || 0;\n  total_upserted += upserted;\n  platforms_text += `\\n  <b>${pl}</b>: found=${found}, unique=${unique}, <b>upserted=${upserted}</b>`;\n}\n\nconst lines = [\n  `${icon} <b>Парсер anti-ms-mp</b>`,\n  `Прогон <code>#${run_id}</code> завершён со статусом <b>${status}</b>.`,\n  '',\n  `<b>Карточек залито в Supabase:</b> ${total_upserted}`,\n  platforms_text || '  (нет данных)',\n  '',\n  errors_count > 0 ? `⚠️ Ошибок: <b>${errors_count}</b>` : '',\n  `📊 <a href=\"https://anti-ms-mp.vercel.app/anti-ms-dashboard/\">Дашборд</a>`,\n].filter(Boolean);\n\nreturn [{ json: { chat_id, text: lines.join('\\n') } }];"
      },
      "id": "fmt",
      "name": "Format Telegram message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "tg-send",
      "name": "Telegram: send to user",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "LnjtzDtsA3TDpjHL",
          "name": "is_n8n_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, sent_to: $('Format Telegram message').item.json.chat_id }) }}"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook: parser-done": {
      "main": [[{ "node": "Format Telegram message", "type": "main", "index": 0 }]]
    },
    "Format Telegram message": {
      "main": [[{ "node": "Telegram: send to user", "type": "main", "index": 0 }]]
    },
    "Telegram: send to user": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
